/* General styles for navigation menu */
.navbar__items.open {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  top: 70px;
  right: 0;
  width: 100%;
  z-index: 1000;
}

/* Media queries for different screen sizes */

/* For screens smaller than 997px */
@media (max-width: 997px) {
  .navbar__items {
    display: none;
  }

  .navbar__items.open {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    background: rgba(0, 0, 0, 0.5);
  }

  .hamburger-menu {
    display: block;
    font-size: 30px;
    cursor: pointer;
    color: white;
  }

  .menu_container {
    display: flex;
    justify-content: center;
  }

  .legend-container {
    display: flex;
    flex-direction: column;
  }

  .legend-image img {
    max-width: 65%;
  }
}

/*CONTACT*/

/* For screens smaller than 768px */

@media (min-width: 1200px) {
  .contact-info-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  .header {
    box-sizing: border-box;
  }

  .footer{
    width: 98%;
    }
  .map-section {
    display: flex;
    justify-content: space-between;
  }

  .contact-img {
    max-width: 400px;
    height: auto;
  }
}

@media (min-width: 1032px) {
  .footer {
width: 98%;
  }
}
@media (max-width: 997px) {
  .hamburger-menu {
    display: block;
    font-size: 30px;
    cursor: pointer;
    color: white;
  }
}
@media (max-width: 820px) {
  .footer {
width: 98%;
  }}

@media (max-width: 768px) {
  .navbar__list {
    flex-direction: column;
    gap: 15px;
  }
.footer{
width: 98%;
}
.map-section {
  margin-right: 0;
}

.contact-info{
  align-items: center;

}

.contact-info-header{
  margin-right: 0;
}
.footer-content{
  box-sizing: border-box;
}
  .contact-info-header{
    /* margin: 0; */
  }

  .map-section{
    /* margin-left: 120px; */
  }
  .navbar__items.open {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    background: rgba(0, 0, 0, 0.5);
  }

  .hamburger-menu {
    display: block;
  }

  .contact-info-content {
    display: flex;
    flex-direction: column; 
  }

  .contact-info-header h1 {
    font-size: 1.5em;
  }

  .contact-info p {
    font-size: 0.9em;
  }

  .contact-form {
    width: 100%;
  }

  .social-img {
    width: 100%;
  }

  .footer-content {
    /* text-align: center; */
    box-sizing: border-box;
  }

  .contact-img {
    width: 80%;
    margin: 0 auto;
  }

  iframe {
    width: 100%;
    height: 250px;
  }
}


