.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1340px;
  margin: 0 auto;
}
.navbar__menu {
  display: flex;
  align-items: center;
  gap: 25px;
}
.navbar__list {
  display: flex;
  align-items: center;
  gap: 25px;
}

.logo {
  width: 70px;
  height: 70px;
  /* border-radius: 100%; */
}

/*experiment */

/* Importă un font tradițional japonez */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;400;700&display=swap");

/* Setări generale pentru stil japonez */
body {
  background-color: #f8f4e6;
  font-family: "Noto Serif JP", serif;
  color: #2c2c2c;
  margin: 0;
  padding: 0;
  /* background-image: url(../img/dragon.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay; */
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

/* HEADER */
.header {
  background-color: #8c2727; /* Roșu tradițional japonez */
  padding: 15px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0; /* Fixează header-ul în partea de sus */
  left: 0; /* Poți adăuga această proprietate pentru a-l fixa pe întreaga lățime */
  right: 0; /* Poți adăuga această proprietate pentru a-l fixa pe întreaga lățime */
  width: 100%; /* Asigură-te că ocupă întreaga lățime a paginii */
  z-index: 1000; /* Asigură-te că este deasupra altor elemente */
}

/* .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

/* LOGO */
.navbar__logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  letter-spacing: 2px;
  margin-right: 150px;
}

/* NAVIGATION MENU */
.navbar__menu {
  display: flex;
}

.navbar__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 30px;
}
.navbar__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__link {
  font-size: 18px;
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  position: relative; /* Necesită pentru poziționarea pseudo-elementului */
}

/*header special*/
.login-section {
  padding-top: 150px;
}

.dashboard-container {
  padding-top: 150px;
}

.admin-dashboard {
  padding-top: 150px;
}

.dashboard {
  padding-top: 150px;
}

.admin_settings {
  padding-top: 150px;
}
.header-admin {
  background-color: rgb(136, 136, 136);
  padding: 15px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0; /* Fixează header-ul în partea de sus */
  left: 0; /* Poți adăuga această proprietate pentru a-l fixa pe întreaga lățime */
  right: 0; /* Poți adăuga această proprietate pentru a-l fixa pe întreaga lățime */
  width: 100%; /* Asigură-te că ocupă întreaga lățime a paginii */
  z-index: 1000; /* Asigură-te că este deasupra altor elemente */
}

.admin_feedback {
  padding-top: 150px;
}
.navbar__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px; /* Poziționează linia sub text */
  width: 0; /* Inițial linia este invizibilă */
  height: 2px; /* Grosimea liniei */
  background-color: #fdd835; /* Galben tradițional japonez */
  transition: width 0.3s ease-in-out;
}

.navbar__link:hover {
  color: #fdd835; /* Schimbă culoarea textului la hover */
}

.navbar__link:hover::after {
  width: 100%; /* Face linia vizibilă */
}
/* Ascunde butonul hamburger pe desktop */
.hamburger-menu {
  display: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

/* Meniul pe mobil */

.main {
  padding-top: 100px;
}

.main__welcome {
  max-width: 1340px;
  margin: 0 auto;
  background-image: url(../img/main__img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  width: auto;
  margin-top: 25px;
  border-radius: 25px;
  /* display: flex;
flex-direction: column;
align-items: ; */
}

.main__title {
  font-family: "Noto Sans JP", sans-serif;
  max-width: 550px;
  font-size: 3.5rem; /* Dimensiune mare pentru titlu */
  color: rgb(
    255,
    255,
    255
  ); /* Culoare albă pentru un contrast bun pe fundalul imaginii */
  text-align: center; /* Centrarea textului pe ecran */
  text-transform: none; /* Menținerea stilului natural al textului */
  letter-spacing: 0.1em; /* Spațiere între litere pentru un aspect elegant */
  padding: 30px 20px; /* Margini pentru a adăuga spațiu în jurul textului */
}
.main__title span {
  color: rgb(202, 202, 202);
  font-size: 2rem;
}
.main__paragraf {
  display: flex;

  text-align: center;
  color: rgb(192, 192, 192);
  max-width: 400px;
  margin-left: 90px;
}

.main-social {
  display: flex;
  align-items: center;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-social {
  display: flex;
  align-items: center;
  gap: 25px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Stiluri generale pentru toate secțiunile */
.main__section {
  padding: 20px;
  background-color: #f9f9f9;
  max-width: 1340px;
  margin: 0 auto;
  font-family: "Noto Serif JP", serif;
}
/*EXPERIMENT*/

.feature-product-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Allura", cursive;
  font-size: 2.5rem;
  color: #8c2727;
}

.feature-product-description {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-family: "Pacifico", cursive;
  font-size: 1.5rem;
}

/* Stiluri pentru secțiunea de introducere */
.main__section--intro {
  background-color: #fff0e6; /* un fundal diferit pentru introducere */
  color: #333;
}

/* Stiluri pentru secțiunea de produse recomandate */
.main__section--featured-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  background-color: #f8f4e6;
}

.fearure-img {
  display: flex;
  align-items: center;
  gap: 100px;
}

.main__container {
  display: flex;

  justify-content: center;
  gap: 55px;
}

.main__container--img {
  border-radius: 100%;
}

.main__description {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  font-weight: 500;
  text-align: center;
}

.main__section-title {
  font-size: 3.5rem;
  color: #8c2727;
}

.main__section-text {
  font-size: 1.25rem;
  max-width: 450px;
  font-family: "Noto Serif JP", serif;
  color: #000000;
}

.grid__img {
  width: 250px;
  height: 250px;
}

.grid__img__right {
  border-radius: 25px;
  width: 450px;
  height: auto;
}

/* .grid__img--modify{
  border-radius: 25%;
  width: 550px;
  height: 550px;

} */
/*FEEDBACK-FORM*/

.feedback-form {
  margin-top: 150px;
}

/*MENU CONTAINER sectiunea cu produse adaugate  */

.menu_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Stilizare pentru containerul fiecărui item */
.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* border: 1px solid #ddd; */
  padding: 20px;
  margin: 15px;
  /* background-color: #f9f9f9; */
  border-radius: 8px;
  width: 300px;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
  background-image: url(../img/papirus.png);
  background-size: 100% 100%; /* Lățime 100% și înălțime 200% (extinsă pe verticală) */
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}

/* Efect la hover pentru fiecare item */

.menu-item:hover {
  transform: scale(1.05); /* Mărește elementul la hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adaugă umbră la hover */
  cursor: pointer; /* Schimbă cursorul pentru un efect interactiv */
}

.menu-item:hover .menu_img {
  filter: grayscale(0%); /* Revine la culoare la hover */
}

/* Stil pentru titlul itemului */
.menu-item h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px; /* Spațiu între titlu și descriere */
  color: #333; /* Culoare text mai închisă pentru titlu */
}

/* Stil pentru descriere */
.menu-item p {
  font-size: 14px;
  color: #666; /* Culoare text deschisă pentru descriere */
  margin-bottom: 8px; /* Spațiu între descriere și preț */
}

/* Stil pentru preț */
.menu-item .price {
  font-size: 16px;
  font-weight: bold;
  color: #007bff; /* Culoare albastră pentru preț */
  margin-bottom: 15px; /* Spațiu sub preț */
}

/* Stilizare pentru imaginea din item */
.menu-item .menu_img {
  width: 100%; /* Imaginea va avea lățimea maximă a containerului */
  height: 200px; /* Înălțimea fixă a imaginii */
  object-fit: cover; /* Asigură că imaginea umple spațiul fără a fi distorsionată */
  border-radius: 8px; /* Colțuri rotunjite pentru imagine */
  margin-top: auto; /* Adaugă spațiu între descriere și imagine */
  filter: grayscale(100%); /* Transformă imaginea în alb-negru */
  transition: filter 0.3s ease, transform 0.3s ease; /* Efecte de tranziție pentru hover */
}
/* Responsivitate */
@media (max-width: 768px) {
  .menu-item {
    width: 100%; /* Pe ecrane mai mici, se ajustează lățimea la 100% */
    margin: 10px 0; /* Ajustează marginile pentru a ocupa mai bine spațiul */
  }

  .menu-item h4 {
    font-size: 16px; /* Mărește puțin fontul pe dispozitive mai mici */
  }

  .menu-item .menu_img {
    height: 150px; /* Scade înălțimea imaginii pe ecrane mici */
  }
}

.menu_img {
  width: 250px; /* poți ajusta dimensiunea dorită */
  height: 250px; /* poți ajusta dimensiunea dorită */
  object-fit: cover; /* imaginea va fi scalată pentru a umple complet zona */
}

/*CONTACTS/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.contact-section {
  padding-top: 250px;
  padding-bottom: 150px;
  /* background: linear-gradient(135deg, rgba(255, 165, 165, 0.8), rgba(246, 240, 232, 0.7));  */
}

.contact-info-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 120px; */
  background-size: cover;
  background-position: center;
  padding: 40px;
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  background-image: url(../img/papirus.png);
  background-size: 100% 100%; /* Lățime 100% și înălțime 200% (extinsă pe verticală) */
  background-repeat: no-repeat;
}
.contact-img {
  height: 100%;
  width: 550px;
  /* border-radius: 100%; */
  margin-right: 62px;
  filter: sepia(30%) contrast(90%);
}
.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-info-header {
  border-radius: 5px; /* Colțuri rotunjite */
  padding: 10px;
  /* background-image: url(../img/papirus.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-blend-mode: overlay; */
  background-color: transparent;
  text-align: center;
  margin-right: 45px;
}

.contact-info-header h1 {
  font-size: 2rem;
}

.contact-info-header p {
  font-size: 1.25rem;
}

.contact-form {
  background-color: transparent;
  padding: 30px;
  border-radius: 8px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form label {
  display: block;
  font-size: 18px;
  margin-bottom: 8px;
  color: #333;
}

.contact-form input,
.contact-form textarea {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid;
  border-image: linear-gradient(to right, rgb(242 185 0), rgb(243, 237, 145)) 1;
  border-radius: 4px;
  margin-bottom: 20px;
  box-sizing: border-box;
  background-color: transparent;
}

.contact-form button {
  background-color: #e60012; /* Buton roșu pentru a atrage atenția */
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #b3000d; /* Roșu închis la hover */
}
/*ABOUTUS///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.section-about {
  padding: 150px 0;
  /* background-color: #f4f4f4;  */
  /* background-image: url(../img/dragon.jpg); */

  /* background-size: cover;
  background-position: center;
  background-blend-mode: overlay; */
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
/*//////////////////////////////////////////////////////////////////*/

/* Styling for the About Section */

/* Subtle animation for fade-in effect */

/*/////////////////////////////////////////////////////////////////*/
.about-content {
  flex: 1;
  padding: 20px;
  background-image: url(../img/papirus.png);
  background-size: 100% 100%; /* Lățime 100% și înălțime 200% (extinsă pe verticală) */
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-color: #f8f4e6;
  padding-bottom: 25px;
}

.about-content h2 {
  font-size: 32px;
  color: #333;
  margin-bottom: 15px;
  font-family: "Dancing Script", cursive;

  text-align: center;
}

.about-content p {
  font-size: 18px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 15px;
  font-family: "Dancing Script", cursive;

  max-width: 557px;
  margin-left: 40px;
}

.about-image {
  flex: 1;
  text-align: center;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/*SOCIAL SECTION/////////////////////////////////////////////////////////////////////////////////////////////////*/
.social-section {
  padding: 20px;
  /* background-color: #333;  */
  text-align: center;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.social-container {
  display: flex;
  flex-direction: column;
}
.content-social a {
  margin: 10px;
  display: inline-block;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.content-social a i {
  font-size: 26px;
}
.social-text {
  color: rgb(0, 0, 0);
  margin-top: 15px;
  max-width: 550px;
}

.social-share button {
  background-color: #4caf50; /* Buton verde */
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

.social-share button:hover {
  background-color: #45a049; /* Schimbă culoarea la hover */
}

/*CONTACT//////////////////////////////////////////////////////////////////////////////////////*/
.login-section {
  margin-top: 0; /* Eliminăm margin-top */
  width: 100%;
  height: 100vh; /* Ocupă 100% din înălțimea vizibilă a ecranului */
  background-image: url(../img/Logo_2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; /* Centrare conținut */
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f5f5f5;
}

.login-content {
  display: flex;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  text-align: center;
  max-width: 350px;
  width: 100%;
  border: 4px double #b30000;
position: relative;
margin-bottom: 550px;

}
.login-title {
  color: #b30000;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

/* Form styling */
.login-form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 15px;
}
.form-group {
  display: flex;
  flex-direction: column;
}
.login-label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px; /* Adaugă un spațiu între etichetă și input */
}

.login-input {
  width: 100%; /* Lățime completă */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

/* Button styling */
.login-button {
  background: #b30000;
  color: white;
  border: none;
  padding: 10px 15px;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 20px;
}

.login-button:hover {
  background: #900000;
}

/* Error styling */
.login-error {
  color: #b30000;
  background: #ffe6e6;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-weight: bold;
}

/*MODAL//////////////////////////////////////////////////////////////////////*/
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  width: 60%;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.modal-content img {
  max-width: 500px;
  height: 500px;
  border-radius: 8px;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
  cursor: pointer;
}
